{% extends 'base.html.twig' %}

{% block body %}
  <section class="section">
      <div class="container">
         <div class="section-title text-center">
            <h3>Aidez-nous à vous associer au bon thérapeute en ligne.</h3>
            <p>Veuillez remplir ce court questionnaire pour vous fournir des informations générales et anonymes sur vous et les problèmes que vous souhaitez traiter dans le cadre de la thérapie en ligne. Cela nous aiderait à trouver le thérapeute le plus approprié pour vous. Vos réponses donneront également à ce conseiller un bon point de départ pour apprendre à vous connaître.</p>
         </div><!-- end section-title -->

         <div class="row">
         </div>
       </div>
    </section>  
{% endblock %}

