<section class="smallsec">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center">
                <h3>Besoin d'aide ?</h3>
            </div>
            <div class="col-md-4 text-center">
                <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-comments-o"></i> Chat en ligne</a>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->

<div class="chat-wrapper">
    <div class="panel panel-primary">
        <div class="panel-heading" id="accordion">
            <a class="btn btn-primary btn-block btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <span class="fa fa-comments-o"></span> Chat en ligne
            </a>
        </div>
        <div class="panel-collapse collapse" id="collapseOne">
            <div class="panel-body">
                <ul class="chat">
                    <li class="left clearfix">
                                <span class="chat-img">
                                    <img src="assets/upload/client_01.png" alt="User Avatar" class="img-circle img-responsive alignleft" />
                                </span>
                        <div class="chat-body clearfix">
                            <div class="chat-header">
                                <strong class="primary-font">John DOE</strong> <small class="pull-right text-muted">
                                    <span class="fa fa-clock-o"></span>12 mins ago</small>
                            </div>
                            <p>Hello anyone here? I need to purchase web hosting!</p>
                        </div>
                    </li>

                    <li class="left clearfix">
                                <span class="chat-img">
                                    <img src="assets/upload/client_01.png" alt="User Avatar" class="img-circle img-responsive alignleft" />
                                </span>
                        <div class="chat-body clearfix">
                            <div class="chat-header">
                                <strong class="primary-font supportstaff">Staff</strong> <small class="pull-right text-muted">
                                    <span class="fa fa-clock-o"></span>13 mins ago</small>
                            </div>
                            <p>Hey John! Welcome to the HostHubs support chat!</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input id="btn-input" type="text" class="form-control input-sm" placeholder="Entrer votre message ici..." />
                    <span class="input-group-btn">
                                <button class="btn btn-default btn-sm" id="btn-chat">Envoyer</button>
                            </span>
                </div>
            </div><!-- end panel-footer -->
        </div><!-- end panel-collapse -->
    </div><!-- end panel -->
</div><!-- end chat-wrapper -->