<footer class="footer lb">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h4>Inscription au nos Newsletter</h4>
                    </div><!-- end widget-title -->

                    <div class="newsletter-widget">
                        <p>Inscrivez vous afin de recevoir toutes nos nouveatées</p>
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                  <input type="text" class="form-control input-lg" placeholder="Votre nom" />
                                </div>
                                <div class="col-md-4">
                                  <input type="email" class="form-control input-lg" placeholder="Votre adresse e-mail" />
                                </div>
                                <div class="col-md-4">
                                   <button class="btn btn-primary btn-block">Inscription</button>
                                </div>
                            </div>
                        </form>
                    </div><!-- end newsletter -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</footer><!-- end footer -->
<div class="footer-distributed">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 footer-left">
                <div class="widget">
                    <img src="assets/images/flogo.png" alt="">
                    <p class="footer-links">
                        <a href="/">Accueil</a>
                        ·
                        <a href="/about">Qui sommes nous ?</a>
                        ·
                        <a href="/consei">Conseils</a>
                        ·
                        <a href="/faq">FAQ</a>
                        ·
                        <a href="/consultant">Nos consultants</a>
                        ·
                        <a href="/contact">Contact</a>
                    </p>
                    <p class="footer-company-name">Nafsiti &copy; 2018</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 footer-center">
                <div class="widget">
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p>Adresse</p>
                    </div>
                    <div>
                        <i class="fa fa-phone"></i>
                        <p>21 69 48 58</p>
                    </div>
                    <div>
                        <i class="fa fa-envelope-o"></i>
                        <p><a href="mailto:nafsiti.contact@gmail.com">nafsiti.contact@gmail.com</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 footer-right">
                <div class="widget">
                    <p class="footer-company-about">
                        <span>A propos de Nafsiti</span>
                        Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eut.
                    </p>
                    <div class="footer-icons">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end copyrights -->



<div class="dmtop">Scroll to Top</div>