<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-left cenmobile">
                <div class="topmenu">
                    <span><i class="fa fa-envelope-o"></i> <a href="mailto:nafsiti.contact@gmail.com">nafsiti.contact@gmail.com</a></span>
                    <span><i class="fa fa-phone-square"></i> 21 69 48 58</span>
                    <span class="hidden-xs"><i class="fa fa-comments-o"></i> <a href="hosting-chat.html">Chat en ligne</a></span>
                </div><!-- end callus -->
            </div>
        </div><!-- end row -->
    </div><!-- end topbar -->
</div><!-- end topbar -->


<header class="header">
    <div class="container-fluid">
        <nav class="navbar navbar-default yamm">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="assets/images/logo.png" alt=""></a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="/" role="button" aria-haspopup="true" aria-expanded="false">Accueil</a>
                        </li>
                        <li class="dropdown">
                            <a href="/about" role="button" aria-haspopup="true" aria-expanded="false">Qui sommes nous ?</a>
                        </li>
                        <li><a href="/conseil">Conseils</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/consultant">Nos consultants</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right hidden-xs">
                        <li class="dropdown searchmenu hasmenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Connexion <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu show-right">
                                <li>
                                    <div id="custom-search-input">
                                        <div class="input-group col-md-12">
                                            <input type="text" class="form-control input-lg" placeholder="Nom d'utlisateur" />
                                            <input type="password" class="form-control input-lg" placeholder="Mot de passe" />
                                            <label><a href="#">Mot de passe oublié ?</a></label>
                                            <button class="btn btn-primary btn-block">S'identifier</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav><!-- end nav -->
    </div><!-- end container -->
</header><!-- end header -->